<%- include('include/_header')%>

<%- include('include/_sideBar')%>



    

            <!-- PAGE INNER
            ================================================== -->
            <div class="page-inner">

                <!-- PAGE MAIN WRAPPER
                ================================================== -->
                <div id="main-wrapper">
                    <!-- row -->
                    <div class="row align-items-center grid-margin">
                        <div class="col-12">
                            <div class="card card-white">
                                <div class="card-body row align-items-center">
                                    <div class="col-12 col-md-5 mb-4 mb-md-0">
                                        <h4 class="mb-0">Customers</h4>
                                    </div>

                                    <div class="col-12 col-md-7">

                                        <div class="row">

                                            <div class="col-md-8 mb-3 mb-md-0">
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="exampleInputEmail1" placeholder="search by name">
                                            </div>

                                            <div class="col-md-4">
                                                <select class="form-control form-select">
                                                    <option>Order Amount</option>
                                                    <option>Highest To Lowest</option>
                                                    <option>Lowest To Highest</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <!-- Row -->
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card card-white">
                                <div class="card-body">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">User</th>
                                                <th scope="col">E-mail</th>
                                                <th scope="col">Total Orders</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Total Amount</th>
                                                <th scope="col">Joining Date</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let i = 0; i < userData.length; i++) { %>
                                                <tr>
                                                  <th scope="row"><%=i+1%></th>
                                                  <td>
                                                    <div class="d-flex align-items-center">
                                                      <div class="me-4">
                                                        <i class="fa fa-user" aria-hidden="true"></i>
                                                      </div>
                                                      <div>
                                                        <h6><%=userData[i].name%></h6>
                                                        <span>ID : <%=userData[i]._id%></span>
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td><%=userData[i].email%></td>
                                                  <td>12</td>
                                                  <% if(userData[i].status==true) { %>
                                                    <td><span class="badge rounded-pill bg-soft-green">Active</span></td>
                                                  <% } else { %>
                                                    <td><span class="badge rounded-pill bg-soft-pink">Blocked</span></td>
                                                  <% } %>
                                                  <td>$2563</td>
                                                  <td><%=userData[i].createdAt%></td>
                                                  <td>
                                                    <% if(userData[i].status==true) { %>
                                                      <a onclick="block_unbloock('<%=userData[i]._id%>',0)" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="top" title="Block">
                                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                                      </a>
                                                    <% } else { %>
                                                      <a onclick="block_unbloock('<%=userData[i]._id%>',1)" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="top" title="Unblock">
                                                        <i class="fa fa-unlock" aria-hidden="true"></i>
                                                      </a>
                                                   
                                              
                                                                <%}%>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                
<script>
    function  block_unbloock(id,val){
              Swal.fire({
                title: 'Are you sure?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes do it!'
              }).then((result) => {
                if (result.isConfirmed) {

                    fetch(`http://localhost:3000/admin/user_action?action=${val}&_id=${id}`,{
                        method:'PATCH'
                    }).then(response=>response.json()).then(data=>{
                        alert(data.message)
                        window.location.href='/admin/user_management'
                    }).catch(err=>{
                        alert(err.message)
                    })
                }
              })
            }
   
</script>
             
            







     



<%- include('include/_footer')%>
