
<!DOCTYPE html>
<html lang="en">
<head>
     <!-- metas -->
     <meta charset="utf-8">
     <meta name="author" content="Chitrakoot Web" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
     <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
     <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />
 
     <!-- title  -->
     <title>shopSmart</title>
 
     <!-- favicon -->
     <link rel="shortcut icon" href="/public/img/logos/favicon.png">
     <link rel="apple-touch-icon" href="/public/img/logos/apple-touch-icon-57x57.png">
     <link rel="apple-touch-icon" sizes="72x72" href="/public/img/logos/apple-touch-icon-72x72.png">
     <link rel="apple-touch-icon" sizes="114x114" href="/public/img/logos/apple-touch-icon-114x114.png">
 
     <!-- plugins -->
     <link rel="stylesheet" href="/public/css/plugins.css">
 
     <!-- theme core css -->
     <link href="/public/css/product_styles.css" rel="stylesheet">
          <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.css">

    <!-- Include SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('include/_header')%>
        
        <!-- ACCOUNT WISHLIST
        ================================================== -->
        <section class="md">
            <div class="container">
                 
                    <!-- end left panel -->

                    <!-- right panel -->
                    <div class="col-lg-8" style="width: 100.666%;">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="mb-0">My wishlist</h4>
                            </div>

                            <div class="table-responsive">
                                <table class="table v-align-middle">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Delete</th>
                                            <th>Add To Cart</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <%if(data.wishlist.length>0){%>
                                            <%data.wishlist.forEach(product=>{%>
                                                <tr>
                                                    <td>
                                                        <a href="#"><img style="width: 50px;" src="/public/uploads/<%=product.image[0]%>" alt="..." /></a>
                                                    </td>
                                                    <td><a href="#"><%=product.name%></a></td>
                                                    <td class="product-price">₹ <%=product.price%></td>
                                                    <td><a style="cursor: pointer;" onclick="remove_item('<%=product._id%>')" ><i class="fas fa-trash"></i></a></td>
                                                    <td><a href="/viewcart?product=<%=product._id%>" class="butn-style2 small">Add To Cart</a></td>
        
                                                </tr>
                                                <%})%>
                                          
                                            <%}else{%>
                                                <h2 style="color: red;" >Your wishlist is empty!</h2>
                                                <%}%>
                                        
                                    </tbody>
                                </table>
                            </div>

                            <a class="butn-style2 mt-3" onclick="remove_allitem()" ><span>Clear Wishlist</span></a>
                        </div>

                    </div>
                    <!-- end right panel -->
                </div>
            </div>
        </section>

        <script>
            function remove_allitem(){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "you want to clear the wishlist!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, remove it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('http://localhost:3000/wishlist/remove_allitem',{
                            method:'DELETE'
                        }).then(response=>response.json()).then(data=>{
                            alert(data.message)
                            window.location.href='/wishlist'
                        }).catch(err=>{
                            alert(err.message)
                        })
                    }   
                })
            }
            
            function remove_item(prdctId){

                Swal.fire({
                    title: 'Are you sure?',
                    text: "you want to remove the product!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, remove it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`http://localhost:3000/wishlist/removeitem?prdctId=${prdctId}`,{
                    method:'DELETE',
                }).then(response=>response.json()).then(data=>{
                    alert(data.message)
                    window.location.href='/wishlist'
                }).catch(err=>{
                    alert(err.message)
                })
                    }   
                })
            }
        </script>

</body>
</html>
